body{
    margin: 0;
}
header {
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
header > div > strong{
    padding: 10px;
    font-size: large;
    vertical-align: middle;
}
.search-section{
    flex: 4;
    align-content: center;
    align-items: center;
    padding-left: 15px;
}
.search-section > img{
    margin-right: 10px;
    vertical-align: middle;
}
.search-section > span > img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.search-section > span > input{
    width: 25%;
    height: 30px;
    border-radius: 5in;
}
.options
{
    padding: 10px;
}
.options a{
    margin-right: 30px;
    vertical-align: middle;
}
main{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 100vh;
}
main > aside{
    padding: 10px;
    background-color: #F0F0F0;
}
main > aside > img{
    margin-bottom: 20px;
}
main > div{
    flex: 11;
    background-color: #F5F5F5;
} 
main nav{
    padding: 10px;
    align-items: start;
}
.navbar{
    margin-right: 20px;
}
.navbar:hover{
    border-bottom: 2px solid #0078d4;
}
.actions{
    padding: 7px;
    border:1px solid #BFBFBF;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 30px;
}
.actions label{
    margin-right: 20px;
    padding: 7px;
}
.actions label:hover{
    background-color: #F5F5F5;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 1px #F5F5F5;
    border-radius: 3px;
}
.actions button{
    margin-right: 20px;
    background-color: #0078d4;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
}
.actions > button:hover{
    background-color: #106EBE;
}
.main{
    display: flex;
    padding: 10px;
}
.main aside{
    padding: 10px;
}
.main > aside summary{
    font-weight: bold;
}
.main > aside p{
    flex: 1;
    padding: 2px 2px 2px 20px;
    margin: 0;
    font-weight: lighter;
}
.main > aside p:hover{
    background-color: #E0E0E0;
    border-radius: 5px;
}
.main > aside a{
    color: #0078d4;
}
.main-content {
    display: flex;
    flex: 10;
    padding: 10px;
}
#focus-email{
    font-weight: bold;
    border-bottom: 2px solid #0078d4;
}
.main-content aside{
    flex: 2.2;
    padding: 10px;
    border:1px solid #BFBFBF;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: white;
    border-radius: 10px;
}
.main-content aside nav{
    border-bottom: 1px solid #BFBFBF;
    padding: 3px 3px 10px 3px;
}
.main-content aside nav a{
    margin-right: 10px;
    font-size: large;
}
.main-content aside nav a:hover{
    border-bottom: 2px solid #0078d4;
}
.email-sender {
    background-color: white;
    border-left: 4px solid #0078d4;
    border-bottom: 1px solid #BFBFBF;
    padding: 7px;
    display: flex;
    flex-direction: row;
}
.email-sender:hover{
    border-left: 6px solid #0078d4;
    background-color: #F5F5F5;
}
.email-sender span{
    padding-left: 10px;
}
.email-sender span div{
    display: flex;
    flex-direction: row;
    color: #0078d4;
}
.email-sender span div p{
    flex: 2;
    margin: 0;
}
.email-sender span p{
    margin: 0;
    padding-top: 2px;
}