body::-webkit-scrollbar{
    display: none;
}
body{
    margin: 0;
}
/* header  */
header {
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-width: 960px;
}
header > div > strong{
    padding: 10px;
    font-size: large;
    vertical-align: middle;
}
.search-section{
    flex: 4;
    align-content: center;
    align-items: center;
    padding-left: 15px;
}
.search-section button{
    background-color: inherit;
    border: none;
    vertical-align: middle;
}
.search-section > a > img{
    margin-right: 10px;
    vertical-align: middle;
}
.search-section > span > svg{
    vertical-align: middle;
}
.search-section > span > input{
    width: 25%;
    height: 30px;
    border-radius: 5px;
}
.search-section > span > input:focus{
    width: 50%;
}
.options
{
    padding: 10px;
}
.options a{
    margin-right: 30px;
    vertical-align: middle;
}
/* main container */
main{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: calc(100vh - 50px);
    background-color: #faf9f8;
    min-width: 970px;
    min-height: 700px;
}
main > aside{
    padding: 10px;
    margin-bottom: 5px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}
main > section{
    display: flex;
    flex-direction: row;
    flex: 0.95;
}
main > section > aside{
    background-color: white;
    padding: 20px;
    margin: 0;
    min-height: 700px;
    height: calc(100vh - 100px)
}
/* side panel  */
.main-section-left-panel > button{
    background-color: inherit;
    border: none;
}
#settings{
    margin-left: calc(250px - 80px);
}
#aside-first-section{
    border-bottom: 1px solid #BFBFBF;
}
.main-section-left-options{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: inherit;
    border: none;
    width: 100%;
}
.main-section-left-options svg{
    padding: 5px 5px 5px 0px;
    vertical-align: middle;
}
.main-section-left-options p{
    margin: 0;
    padding: 7px;
    vertical-align: middle;
}
#aside-second-section{
    padding: 10px;
}
#aside-second-section div{
    display: flex;
    flex-direction: row;
}
#aside-second-section button{
    background-color: inherit;
    border: none;
}
#btn-new-list{
    display: flex;
    flex-direction: row;
    flex: 1;
}
#btn-new-list input{
    padding: 1px;
    background-color: inherit;
    border: none;
}
#btn-new-list input::placeholder{
    color: #0078d4;
    font-size: medium;
    padding: 3px;
    vertical-align: middle;
}
#aside-second-section button:hover, #aside-first-section button:hover{
    background-color: #F5F5F5;
}
#current-option{
    background-color: #DEECF9;
    border-left: 2px solid #0078d4;
}
/* task section  */
.task-section{
    flex: 1;
}
.task-section div{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.task-section h2{
    margin-left: 10px;
}
.section-first-left button{
    background-color: inherit;
    border: none;
    width: 80px;
}
.section-first-left button:hover{
    background-color: #f5f5f5;
    border-bottom: 2px solid #0078d4;
}
.section-first-left > button p, .section-first-right > button p{
    margin-top: 5px;
    color: #0078d4;
    font-weight: bold;
}
#section-second{
    background-color: white;
    margin-left: 20px;
    box-shadow: 2px 2px 2px 1px #cccccc;
    border-radius: 5px 5px 0px 0px;
}
#section-second input{
    border: none;
}
#section-second input::placeholder{
    color: #0078d4;
    font-size: medium;
}
.section-first-right button{
    width: 90px;
}
.section-first-right button:hover{
    background-color: #f5f5f5;
    border-bottom: 2px solid #0078d4;
}
#tasks{
    color: #0078d4;
}
.add-task-focus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin-left: 20px;
    box-shadow: 2px 2px 2px 1px #cccccc;
    border-radius: 0px 0px 5px 5px;
}
.add-task-focus div{
    width: 15px;
    gap: 16px;
}
.add-task-focus div button{
    background-color: inherit;
    border: none;
}
.add-task-focus button:hover{
    background-color: #F5F5F5;
}
.task-list{
    display: flex;
    flex-direction: column !important;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #cccccc;
    margin-top: 10px;
}
.task-list table tr td{
    border-bottom: 1px solid #e1dfdd !important;
    padding: 5px;
    border: 1px solid transparent;
}
td button{
    background-color: inherit;
    border: none;
}
.task-list table tr td:hover{
    border: 1px solid #BFBFBF;
}
#completed{
    border-bottom: 0px;
    padding: 10px;
    font-weight: bold;
}
ul{
    list-style: none;
    padding: 0;
}
/* responsive  */

#r-options-menu{
    display: none;
}

@media screen and (max-width: 790px){
    #r-options-menu{
        display: inline;
        background-color: inherit;
        border: none;
    }
    .options a{
        display: none;
    }
    .actions{
        height: 40px;
    }
}